body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

/* Header Section (Nav Bar, Links, Title) */
header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    border-bottom: .5px lightgray solid;
    box-shadow: 2px 2px 20px darkgray;
    background-color: darkblue;
}

#title {
    margin-left: 10px;
    white-space: nowrap;
    border: 2px white solid;
    padding: 5px 15px;
    border-radius: 40px;
    color: white;
}

nav {
    margin: auto 0;
    text-decoration: none;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul li {
    margin: auto 40px;
    border: 1px white solid;
    border-radius: 40px;
}

nav ul li:hover {
    background-color: grey;
    margin: auto 40px;
}

nav ul li a {
    text-decoration: none;
    font-size: large;
    margin: 15px;
    color: white;
}

/* Main Section (Sections, Images, Paragraphs, Sub headings) */
#tribute-section {
    text-align: center;
    display: flex;
    justify-content: center;
}

#tribute-section h3 {
    font-size: xx-large;
    max-width: 600px;
    margin: 60px;
}

#img-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}

figcaption {
    max-width: 400px;
    text-align: center;
    font-size: medium;
}

section {
    padding: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h2 {
    border: 2px solid darkblue;
    border-radius: 40px;
    display: inline;
    padding: 5px 15px;
}

#mind-span {
    color: rgb(11, 115, 3);
}

#A {
    color: rgb(16, 161, 205);
    
}

#R {
    color: rgb(248, 11, 58);
}

#T {
    color: rgb(255, 111, 0);
}

section p {
    margin-top: 40px;
}

#subsection-one {
    margin-top: 40px;
}

/* Footer */
footer {
    height: 50px;
    background-color: darkblue;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer p {
    color: white;
    font-size: large;
}

footer a {
    color: white;
}